* {
    background-color: aqua;
}

li {
    color: red;
    font-size: large;
}

a {
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
}

.pizza-link {
    color: brown;
    font-size: 32px;
}

.burger-link {
    color: blue;
    font-size: 32px;
}